.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.input {
    color: yellow;
    margin: 10px;
    font-size: 0.9.rem;
    border-radius: 4px;
}

.container button {
    color: brown;
    font-size: 0.9rem;
    border-radius: 4px;
}